/* Width in pixels 1px to 500px */
.w1 { width: 1px; }
.w2 { width: 2px; }
.w3 { width: 3px; }
.w4 { width: 4px; }
.w5 { width: 5px; }
.w6 { width: 6px; }
.w7 { width: 7px; }
.w8 { width: 8px; }
.w9 { width: 9px; }
.w10 { width: 10px; }
.w11 { width: 11px; }
.w12 { width: 12px; }
.w13 { width: 13px; }
.w14 { width: 14px; }
.w15 { width: 15px; }
.w16 { width: 16px; }
.w17 { width: 17px; }
.w18 { width: 18px; }
.w19 { width: 19px; }
.w20 { width: 20px; }
.w21 { width: 21px; }
.w22 { width: 22px; }
.w23 { width: 23px; }
.w24 { width: 24px; }
.w25 { width: 25px; }
.w26 { width: 26px; }
.w27 { width: 27px; }
.w28 { width: 28px; }
.w29 { width: 29px; }
.w30 { width: 30px; }
.w31 { width: 31px; }
.w32 { width: 32px; }
.w33 { width: 33px; }
.w34 { width: 34px; }
.w35 { width: 35px; }
.w36 { width: 36px; }
.w37 { width: 37px; }
.w38 { width: 38px; }
.w39 { width: 39px; }
.w40 { width: 40px; }
.w41 { width: 41px; }
.w42 { width: 42px; }
.w43 { width: 43px; }
.w44 { width: 44px; }
.w45 { width: 45px; }
.w46 { width: 46px; }
.w47 { width: 47px; }
.w48 { width: 48px; }
.w49 { width: 49px; }
.w50 { width: 50px; }
.w51 { width: 51px; }
.w52 { width: 52px; }
.w53 { width: 53px; }
.w54 { width: 54px; }
.w55 { width: 55px; }
.w56 { width: 56px; }
.w57 { width: 57px; }
.w58 { width: 58px; }
.w59 { width: 59px; }
.w60 { width: 60px; }
.w61 { width: 61px; }
.w62 { width: 62px; }
.w63 { width: 63px; }
.w64 { width: 64px; }
.w65 { width: 65px; }
.w66 { width: 66px; }
.w67 { width: 67px; }
.w68 { width: 68px; }
.w69 { width: 69px; }
.w70 { width: 70px; }
.w71 { width: 71px; }
.w72 { width: 72px; }
.w73 { width: 73px; }
.w74 { width: 74px; }
.w75 { width: 75px; }
.w76 { width: 76px; }
.w77 { width: 77px; }
.w78 { width: 78px; }
.w79 { width: 79px; }
.w80 { width: 80px; }
.w81 { width: 81px; }
.w82 { width: 82px; }
.w83 { width: 83px; }
.w84 { width: 84px; }
.w85 { width: 85px; }
.w86 { width: 86px; }
.w87 { width: 87px; }
.w88 { width: 88px; }
.w89 { width: 89px; }
.w90 { width: 90px; }
.w91 { width: 91px; }
.w92 { width: 92px; }
.w93 { width: 93px; }
.w94 { width: 94px; }
.w95 { width: 95px; }
.w96 { width: 96px; }
.w97 { width: 97px; }
.w98 { width: 98px; }
.w99 { width: 99px; }
.w100 { width: 100px; }
.w101 { width: 101px; }
.w102 { width: 102px; }
.w103 { width: 103px; }
.w104 { width: 104px; }
.w105 { width: 105px; }
.w106 { width: 106px; }
.w107 { width: 107px; }
.w108 { width: 108px; }
.w109 { width: 109px; }
.w110 { width: 110px; }
.w111 { width: 111px; }
.w112 { width: 112px; }
.w113 { width: 113px; }
.w114 { width: 114px; }
.w115 { width: 115px; }
.w116 { width: 116px; }
.w117 { width: 117px; }
.w118 { width: 118px; }
.w119 { width: 119px; }
.w120 { width: 120px; }
.w121 { width: 121px; }
.w122 { width: 122px; }
.w123 { width: 123px; }
.w124 { width: 124px; }
.w125 { width: 125px; }
.w126 { width: 126px; }
.w127 { width: 127px; }
.w128 { width: 128px; }
.w129 { width: 129px; }
.w130 { width: 130px; }
.w131 { width: 131px; }
.w132 { width: 132px; }
.w133 { width: 133px; }
.w134 { width: 134px; }
.w135 { width: 135px; }
.w136 { width: 136px; }
.w137 { width: 137px; }
.w138 { width: 138px; }
.w139 { width: 139px; }
.w140 { width: 140px; }
.w141 { width: 141px; }
.w142 { width: 142px; }
.w143 { width: 143px; }
.w144 { width: 144px; }
.w145 { width: 145px; }
.w146 { width: 146px; }
.w147 { width: 147px; }
.w148 { width: 148px; }
.w149 { width: 149px; }
.w150 { width: 150px; }
.w151 { width: 151px; }
.w152 { width: 152px; }
.w153 { width: 153px; }
.w154 { width: 154px; }
.w155 { width: 155px; }
.w156 { width: 156px; }
.w157 { width: 157px; }
.w158 { width: 158px; }
.w159 { width: 159px; }
.w160 { width: 160px; }
.w161 { width: 161px; }
.w162 { width: 162px; }
.w163 { width: 163px; }
.w164 { width: 164px; }
.w165 { width: 165px; }
.w166 { width: 166px; }
.w167 { width: 167px; }
.w168 { width: 168px; }
.w169 { width: 169px; }
.w170 { width: 170px; }
.w171 { width: 171px; }
.w172 { width: 172px; }
.w173 { width: 173px; }
.w174 { width: 174px; }
.w175 { width: 175px; }
.w176 { width: 176px; }
.w177 { width: 177px; }
.w178 { width: 178px; }
.w179 { width: 179px; }
.w180 { width: 180px; }
.w181 { width: 181px; }
.w182 { width: 182px; }
.w183 { width: 183px; }
.w184 { width: 184px; }
.w185 { width: 185px; }
.w186 { width: 186px; }
.w187 { width: 187px; }
.w188 { width: 188px; }
.w189 { width: 189px; }
.w190 { width: 190px; }
.w191 { width: 191px; }
.w192 { width: 192px; }
.w193 { width: 193px; }
.w194 { width: 194px; }
.w195 { width: 195px; }
.w196 { width: 196px; }
.w197 { width: 197px; }
.w198 { width: 198px; }
.w199 { width: 199px; }
.w200 { width: 200px; }
.w201 { width: 201px; }
.w202 { width: 202px; }
.w203 { width: 203px; }
.w204 { width: 204px; }
.w205 { width: 205px; }
.w206 { width: 206px; }
.w207 { width: 207px; }
.w208 { width: 208px; }
.w209 { width: 209px; }
.w210 { width: 210px; }
.w211 { width: 211px; }
.w212 { width: 212px; }
.w213 { width: 213px; }
.w214 { width: 214px; }
.w215 { width: 215px; }
.w216 { width: 216px; }
.w217 { width: 217px; }
.w218 { width: 218px; }
.w219 { width: 219px; }
.w220 { width: 220px; }
.w221 { width: 221px; }
.w222 { width: 222px; }
.w223 { width: 223px; }
.w224 { width: 224px; }
.w225 { width: 225px; }
.w226 { width: 226px; }
.w227 { width: 227px; }
.w228 { width: 228px; }
.w229 { width: 229px; }
.w230 { width: 230px; }
.w231 { width: 231px; }
.w232 { width: 232px; }
.w233 { width: 233px; }
.w234 { width: 234px; }
.w235 { width: 235px; }
.w236 { width: 236px; }
.w237 { width: 237px; }
.w238 { width: 238px; }
.w239 { width: 239px; }
.w240 { width: 240px; }
.w241 { width: 241px; }
.w242 { width: 242px; }
.w243 { width: 243px; }
.w244 { width: 244px; }
.w245 { width: 245px; }
.w246 { width: 246px; }
.w247 { width: 247px; }
.w248 { width: 248px; }
.w249 { width: 249px; }
.w250 { width: 250px; }
.w251 { width: 251px; }
.w252 { width: 252px; }
.w253 { width: 253px; }
.w254 { width: 254px; }
.w255 { width: 255px; }
.w256 { width: 256px; }
.w257 { width: 257px; }
.w258 { width: 258px; }
.w259 { width: 259px; }
.w260 { width: 260px; }
.w261 { width: 261px; }
.w262 { width: 262px; }
.w263 { width: 263px; }
.w264 { width: 264px; }
.w265 { width: 265px; }
.w266 { width: 266px; }
.w267 { width: 267px; }
.w268 { width: 268px; }
.w269 { width: 269px; }
.w270 { width: 270px; }
.w271 { width: 271px; }
.w272 { width: 272px; }
.w273 { width: 273px; }
.w274 { width: 274px; }
.w275 { width: 275px; }
.w276 { width: 276px; }
.w277 { width: 277px; }
.w278 { width: 278px; }
.w279 { width: 279px; }
.w280 { width: 280px; }
.w281 { width: 281px; }
.w282 { width: 282px; }
.w283 { width: 283px; }
.w284 { width: 284px; }
.w285 { width: 285px; }
.w286 { width: 286px; }
.w287 { width: 287px; }
.w288 { width: 288px; }
.w289 { width: 289px; }
.w290 { width: 290px; }
.w291 { width: 291px; }
.w292 { width: 292px; }
.w293 { width: 293px; }
.w294 { width: 294px; }
.w295 { width: 295px; }
.w296 { width: 296px; }
.w297 { width: 297px; }
.w298 { width: 298px; }
.w299 { width: 299px; }
.w300 { width: 300px; }
.w301 { width: 301px; }
.w302 { width: 302px; }
.w303 { width: 303px; }
.w304 { width: 304px; }
.w305 { width: 305px; }
.w306 { width: 306px; }
.w307 { width: 307px; }
.w308 { width: 308px; }
.w309 { width: 309px; }
.w310 { width: 310px; }
.w311 { width: 311px; }
.w312 { width: 312px; }
.w313 { width: 313px; }
.w314 { width: 314px; }
.w315 { width: 315px; }
.w316 { width: 316px; }
.w317 { width: 317px; }
.w318 { width: 318px; }
.w319 { width: 319px; }
.w320 { width: 320px; }
.w321 { width: 321px; }
.w322 { width: 322px; }
.w323 { width: 323px; }
.w324 { width: 324px; }
.w325 { width: 325px; }
.w326 { width: 326px; }
.w327 { width: 327px; }
.w328 { width: 328px; }
.w329 { width: 329px; }
.w330 { width: 330px; }
.w331 { width: 331px; }
.w332 { width: 332px; }
.w333 { width: 333px; }
.w334 { width: 334px; }
.w335 { width: 335px; }
.w336 { width: 336px; }
.w337 { width: 337px; }
.w338 { width: 338px; }
.w339 { width: 339px; }
.w340 { width: 340px; }
.w341 { width: 341px; }
.w342 { width: 342px; }
.w343 { width: 343px; }
.w344 { width: 344px; }
.w345 { width: 345px; }
.w346 { width: 346px; }
.w347 { width: 347px; }
.w348 { width: 348px; }
.w349 { width: 349px; }
.w350 { width: 350px; }
.w351 { width: 351px; }
.w352 { width: 352px; }
.w353 { width: 353px; }
.w354 { width: 354px; }
.w355 { width: 355px; }
.w356 { width: 356px; }
.w357 { width: 357px; }
.w358 { width: 358px; }
.w359 { width: 359px; }
.w360 { width: 360px; }
.w361 { width: 361px; }
.w362 { width: 362px; }
.w363 { width: 363px; }
.w364 { width: 364px; }
.w365 { width: 365px; }
.w366 { width: 366px; }
.w367 { width: 367px; }
.w368 { width: 368px; }
.w369 { width: 369px; }
.w370 { width: 370px; }
.w371 { width: 371px; }
.w372 { width: 372px; }
.w373 { width: 373px; }
.w374 { width: 374px; }
.w375 { width: 375px; }
.w376 { width: 376px; }
.w377 { width: 377px; }
.w378 { width: 378px; }
.w379 { width: 379px; }
.w380 { width: 380px; }
.w381 { width: 381px; }
.w382 { width: 382px; }
.w383 { width: 383px; }
.w384 { width: 384px; }
.w385 { width: 385px; }
.w386 { width: 386px; }
.w387 { width: 387px; }
.w388 { width: 388px; }
.w389 { width: 389px; }
.w390 { width: 390px; }
.w391 { width: 391px; }
.w392 { width: 392px; }
.w393 { width: 393px; }
.w394 { width: 394px; }
.w395 { width: 395px; }
.w396 { width: 396px; }
.w397 { width: 397px; }
.w398 { width: 398px; }
.w399 { width: 399px; }
.w400 { width: 400px; }
.w401 { width: 401px; }
.w402 { width: 402px; }
.w403 { width: 403px; }
.w404 { width: 404px; }
.w405 { width: 405px; }
.w406 { width: 406px; }
.w407 { width: 407px; }
.w408 { width: 408px; }
.w409 { width: 409px; }
.w410 { width: 410px; }
.w411 { width: 411px; }
.w412 { width: 412px; }
.w413 { width: 413px; }
.w414 { width: 414px; }
.w415 { width: 415px; }
.w416 { width: 416px; }
.w417 { width: 417px; }
.w418 { width: 418px; }
.w419 { width: 419px; }
.w420 { width: 420px; }
.w421 { width: 421px; }
.w422 { width: 422px; }
.w423 { width: 423px; }
.w424 { width: 424px; }
.w425 { width: 425px; }
.w426 { width: 426px; }
.w427 { width: 427px; }
.w428 { width: 428px; }
.w429 { width: 429px; }
.w430 { width: 430px; }
.w431 { width: 431px; }
.w432 { width: 432px; }
.w433 { width: 433px; }
.w434 { width: 434px; }
.w435 { width: 435px; }
.w436 { width: 436px; }
.w437 { width: 437px; }
.w438 { width: 438px; }
.w439 { width: 439px; }
.w440 { width: 440px; }
.w441 { width: 441px; }
.w442 { width: 442px; }
.w443 { width: 443px; }
.w444 { width: 444px; }
.w445 { width: 445px; }
.w446 { width: 446px; }
.w447 { width: 447px; }
.w448 { width: 448px; }
.w449 { width: 449px; }
.w450 { width: 450px; }
.w451 { width: 451px; }
.w452 { width: 452px; }
.w453 { width: 453px; }
.w454 { width: 454px; }
.w455 { width: 455px; }
.w456 { width: 456px; }
.w457 { width: 457px; }
.w458 { width: 458px; }
.w459 { width: 459px; }
.w460 { width: 460px; }
.w461 { width: 461px; }
.w462 { width: 462px; }
.w463 { width: 463px; }
.w464 { width: 464px; }
.w465 { width: 465px; }
.w466 { width: 466px; }
.w467 { width: 467px; }
.w468 { width: 468px; }
.w469 { width: 469px; }
.w470 { width: 470px; }
.w471 { width: 471px; }
.w472 { width: 472px; }
.w473 { width: 473px; }
.w474 { width: 474px; }
.w475 { width: 475px; }
.w476 { width: 476px; }
.w477 { width: 477px; }
.w478 { width: 478px; }
.w479 { width: 479px; }
.w480 { width: 480px; }
.w481 { width: 481px; }
.w482 { width: 482px; }
.w483 { width: 483px; }
.w484 { width: 484px; }
.w485 { width: 485px; }
.w486 { width: 486px; }
.w487 { width: 487px; }
.w488 { width: 488px; }
.w489 { width: 489px; }
.w490 { width: 490px; }
.w491 { width: 491px; }
.w492 { width: 492px; }
.w493 { width: 493px; }
.w494 { width: 494px; }
.w495 { width: 495px; }
.w496 { width: 496px; }
.w497 { width: 497px; }
.w498 { width: 498px; }
.w499 { width: 499px; }
.w500 { width: 500px; }

/* Width in percentages 1% to 100% */
.w1p { width: 1%; }
.w2p { width: 2%; }
.w3p { width: 3%; }
.w4p { width: 4%; }
.w5p { width: 5%; }
.w6p { width: 6%; }
.w7p { width: 7%; }
.w8p { width: 8%; }
.w9p { width: 9%; }
.w10p { width: 10%; }
.w11p { width: 11%; }
.w12p { width: 12%; }
.w13p { width: 13%; }
.w14p { width: 14%; }
.w15p { width: 15%; }
.w16p { width: 16%; }
.w17p { width: 17%; }
.w18p { width: 18%; }
.w19p { width: 19%; }
.w20p { width: 20%; }
.w21p { width: 21%; }
.w22p { width: 22%; }
.w23p { width: 23%; }
.w24p { width: 24%; }
.w25p { width: 25%; }
.w26p { width: 26%; }
.w27p { width: 27%; }
.w28p { width: 28%; }
.w29p { width: 29%; }
.w30p { width: 30%; }
.w31p { width: 31%; }
.w32p { width: 32%; }
.w33p { width: 33%; }
.w34p { width: 34%; }
.w35p { width: 35%; }
.w36p { width: 36%; }
.w37p { width: 37%; }
.w38p { width: 38%; }
.w39p { width: 39%; }
.w40p { width: 40%; }
.w41p { width: 41%; }
.w42p { width: 42%; }
.w43p { width: 43%; }
.w44p { width: 44%; }
.w45p { width: 45%; }
.w46p { width: 46%; }
.w47p { width: 47%; }
.w48p { width: 48%; }
.w49p { width: 49%; }
.w50p { width: 50%; }
.w51p { width: 51%; }
.w52p { width: 52%; }
.w53p { width: 53%; }
.w54p { width: 54%; }
.w55p { width: 55%; }
.w56p { width: 56%; }
.w57p { width: 57%; }
.w58p { width: 58%; }
.w59p { width: 59%; }
.w60p { width: 60%; }
.w61p { width: 61%; }
.w62p { width: 62%; }
.w63p { width: 63%; }
.w64p { width: 64%; }
.w65p { width: 65%; }
.w66p { width: 66%; }
.w67p { width: 67%; }
.w68p { width: 68%; }
.w69p { width: 69%; }
.w70p { width: 70%; }
.w71p { width: 71%; }
.w72p { width: 72%; }
.w73p { width: 73%; }
.w74p { width: 74%; }
.w75p { width: 75%; }
.w76p { width: 76%; }
.w77p { width: 77%; }
.w78p { width: 78%; }
.w79p { width: 79%; }
.w80p { width: 80%; }
.w81p { width: 81%; }
.w82p { width: 82%; }
.w83p { width: 83%; }
.w84p { width: 84%; }
.w85p { width: 85%; }
.w86p { width: 86%; }
.w87p { width: 87%; }
.w88p { width: 88%; }
.w89p { width: 89%; }
.w90p { width: 90%; }
.w91p { width: 91%; }
.w92p { width: 92%; }
.w93p { width: 93%; }
.w94p { width: 94%; }
.w95p { width: 95%; }
.w96p { width: 96%; }
.w97p { width: 97%; }
.w98p { width: 98%; }
.w99p { width: 99%; }
.w100p { width: 100%; }
