.avatar {
    /*vertical-align: middle;*/
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.display_inline_block {
    display: inline-block;
}

.details {
    font-size: 8px;
}

.scroll_box {
    width: auto;
    overflow-x: auto;
    white-space: nowrap;
}
