/* mobile view design */
/*
  320px-480px: Mobile devices
  481px-768px: iPads, Tablets
  769px-1024px: Small screens, laptops
  1025px-1200px: Desktops, large screens
  1201px and more- Extra large screens, TV
*/
@media only screen and (min-width: 240px) and (max-width: 480px) {
  .main-footer {
    grid-template-columns: 1fr;
  }
  .sociallogos{
    padding:20px 0;
  }
  .onwer_info{
    padding:20px 0;
  }
  .main-footer {
    grid-template-columns: 1fr;
  }
  .pricing-table {
    display: grid;
  }
  .pricing-card{
    flex: 50%;
  }
  .main-footer {
    padding:20px;
    display:grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .main-footer {
    padding:20px;
    display:grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .main-footer {
    padding:20px;
    display:grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .main-footer {
    padding:20px;
    display:grid;
    grid-template-columns: 1fr 1fr;
  }
}
/* hover add also box-shadow not working */
@media only screen and (min-width: 240px) and (max-width: 480px) and (hover: hover) and (pointer: fine) {
  .pricing-card:hover .pricing-card-header{
    box-shadow: 0 0 0 23em #0fbcf9;
  }
  .pricing-card:hover ,.pricing-card:hover .price{
    color: #fff;
  }
  .order-btn:hover{
    background-color: #0fbcf9;
    color: #fff;
  }
  /*nav a:hover::after{
      transform: scaleX(1)
  }*/
}